<% include partials/head %>
<body>
<% data %>

<div id="wrapper">
    <% include partials/navbar %>
    <!-- PAGE TITLE START -->
    <section id="title" class="container-fluid wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h3>รายละเอียดการจองโรงแรม</h3>
                </div>
                <div class="col-xs-6 text-right breadcrumbs">
                    <ul class="list-inline list-unstyled">
                        <li><a href="service">Home</a></li>
                        <li>/</li>
                        <li>รายละเอียดการจองโรงแรม</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE TITLE END -->

    <section id="home-content">
        <!-- CONTENT START -->
        <div class="col-2 ">
            <div class="container">

            </div>
        </div>
        <div class="container paddind15">
            <form class="form-group" method="post" id="form_data" name="form_data">
                <div class="padding35">
                    <% let c = 0;
                    for(let i = 0; i < data.length; i++){
                    if(data[i].owner === data._id){ %>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="card-detail padding25 card-img-topn">
                                <div class="card-deck" style="margin-left: 25px">
                                    <div class="row ">
                                        <div align="left">
                                            <label class="col-sm-3 col-md-4 control-label">
                                                ชื่อการจอง :
                                            </label>
                                        </div>
                                        <div class="col-sm-5 col-md-6">
                                            <label>
                                                <%= data[i].daycare_name %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    ชื่อสุนัข :
                                                </label>
                                            </div>
                                            <div class="col-sm-5 col-md-5">
                                                <div class="form-group">
                                                    <label>
                                                        <%= data[i].pet_name %>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    รายละเอียดการจอง :
                                                </label>
                                            </div>
                                            <div class="col-sm-7 col-md-6">
                                                <label>
                                                    <%= data[i].daycare_remark %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    วันที่เริ่มฝาก :
                                                </label>
                                            </div>
                                            <div class="col-sm-3 col-md-6">
                                                <label>
                                                    <%= data[i].start_date %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    วันที่รับ :
                                                </label>
                                            </div>
                                            <div class="col-sm-3 col-md-6">
                                                <label>
                                                    <%= data[i].end_date %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    จำนวนวัน :
                                                </label>
                                            </div>
                                            <div class="col-sm-3 col-md-6">
                                                <label>
                                                    <%= data[i].count_day %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div align="left">
                                                <label class="col-sm-3 col-md-4 control-label">
                                                    ประเภทห้อง :
                                                </label>
                                            </div>
                                            <div class="col-sm-3 col-md-6">
                                                <label>
                                                    <%= data[i].room_type %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group padding15">
                                            <div align="left">
                                                <label class="col-sm-3 control-label">
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-6" align="right">
                                                <a href="<%= '/edithotel/' + data[i]._id %>"
                                                   class="btn btn-warning">แก้ไข</a>
                                                <a href="/hotel/delete/<%= data[i]._id %>" class="btn btn-danger">ลบโพสต์</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% c++; } }%>
                </div>
            </form>
        </div>
    </section>
    <div id="intro" class="container-fluid bg-white padding300">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-left">
                </div>

                <div class="col-md-2 text-center">

                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT END -->
    <% include partials/footer %>
</div>


<!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<script src="/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/screen.js"></script>


</body>