<% include partials/head %>
<body>
<% userdata %>
<% authen %>

<div id="wrapper">
    <% include partials/navbar %>

    <!-- PAGE TITLE START -->
    <section id="title" class="container-fluid wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>User</h1>
                </div>
                <div class="col-xs-6 text-right breadcrumbs">
                    <ul class="list-inline list-unstyled">
                        <li><a href="service">Home</a></li>
                        <li>/</li>
                        <li>User</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE TITLE END -->

    <section id="home-content">
        <!-- CONTENT START -->
        <div class="container padding15">
            <div id="userprofile">
                <h1>ยินดีต้อนรับ <%= userdata.name %>&nbsp;<%= userdata.lname %> </h1>
                <div class="container padding15" >
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 padding15" style="text-align: center;">
                            <% let picurl = '/image/user/' + userdata._id; %>
                            <img id="profilePic" class="img-fluid" src="<%= picurl %>" style="width: 200px;height: 200px">
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 padding15" >
                            <div class="row">
                                <div class="col-sm-2" align="left">
                                    <label class="postDetailList">ชื่อ : </label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="postDetailList">
                                        <%= userdata.name %>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="postDetailList">นามสกุล : </label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="postDetailList"><%= userdata.lname %></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="postDetailList">e-mail : </label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="postDetailList"><%= userdata.username %></label>
                                </div>
                            </div>

                            <div class="row">
                                <% let moreurl = '/user/detail_' + userdata.username; %>
                                <div class="col-4 col-md-auto" style="text-align: center;">
                                    <a href="<%= moreurl %>" class="btn btn-primary">ดูข้อมูลเพิ่มเติม</a>
                                </div>
                                <%= authen %>
                                <% if(authen) { %>
                                    <div class="col-4 col-md-auto" style="text-align: center;">
                                        <a href="<%= '/view/user_post_' + userdata.username %>" class="btn btn-warning">ดูประวัติโพสต์</a>
                                    </div>
                                    <div class="col-4 col-md-auto" style="text-align: center;">
                                        <a href="/signout" class="btn btn-danger">ออกจากระบบ</a>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
</div>
<!-- CONTENT END -->

<!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- EDURA JS REQUIRED ON ALL PAGES-->
<script src="/javascripts/script.js"></script>

</body>